@tailwind base;
@tailwind components;
@tailwind utilities;




.userdash{
    top: 67px;
    border: solid 8px #eec550;
    padding: 20px;
    text-align: left;
    position: fixed;
    margin-top: 5px;
    left: -1px;
}

.for-hello{
    font-weight: bold;
}