@tailwind base;
@tailwind components;
@tailwind utilities;



.frame{
    border: solid 4px #1a2634;
    width: 600px;
    /* padding: 20px; */
    text-align: left;
    position: none;
    margin-top: 5px;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.btn-container {
    border-left: 4px solid transparent;
    align-items: center;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 8px 4px 8px 0;
    position: absolute;
    margin: 0;
    border: 0;
    left: 31%;
  }
  .btn-count{
    pointer-events: none;
    word-break: normal;

  }
  .btn-countred{
    pointer-events: none;
    word-break: normal;
    color: red;
  }
  
  .btn {
    border: none;
    color:#fff;
    font-size: 0.8rem;
    gap:6px;
    background-color: #bdc0c5;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0px;

  }

  .upvote-active { 
    background-color: #47ff33;
    padding: initial;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .downvote-active { 
    background-color: red;
    padding: initial;

    padding-left: 2px;
    padding-right: 2px;
    
  }